* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 184px;
    aspect-ratio: 9/11;
}

.card-style {
    box-shadow: 0 0 5px black;
}

body {
    background-color: rgb(224, 221, 221);
}